<div class="centrum">
    <h1 *ngIf="user$ | async as user">Welcome to our app <span style="color: #3f51b5;">{{user.displayName}}</span></h1>
    <app-weather-widget />
    <button mat-raised-button  routerLink="/employees">
        Employee
    </button>
    <button mat-raised-button  routerLink="/notifications">
        Notifications
    </button>
    <button mat-raised-button  routerLink="/warehouse">
        Warehouse
    </button>
    <button mat-raised-button routerLink="/farmlands">
        Farmlands
    </button>
</div>