.notificationButton {
  margin-bottom: 10px;
}
.notificationForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mat-table-centrum {
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  
  }
  
  
  @media (max-width: 900px) {
    .mat-table {
      overflow-x: scroll;
      width: 400px;
    }
  }