mat-toolbar {
    justify-content: space-between;
}

.centrum {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 5px;
}