<div class="centrum">
    <h1>
        Logowanie
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="centrum1">
        <mat-form-field>
    
            <input matInput placeholder="Email" formControlName="email" type="email">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                Email jest wymagany
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
                Email jest wymagany
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="loginForm.get('password')?.errors?.['email']">
                Hasło jest wymagane
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">
            Zaloguj
        </button>
        <span>
            Jesteś nowym użytkownikiem? <a routerLink="/sign-up">Zarejestruj się</a>
        </span>
    </form>
</div>
