<div class="login-container">
    <h1>Logowanie</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" type="email">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                Email jest wymagany
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
                Nieprawidłowy format email
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Hasło" formControlName="password" type="password">
            <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
                Hasło jest wymagane
            </mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" style="    margin-top: -30px;">
            Zaloguj
        </button>
        
        <p class="signup-link">
            Jesteś nowym użytkownikiem? <a routerLink="/sign-up">Zarejestruj się</a>
        </p>
    </form>
</div>
