#divWeatherMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px !important;
    background-color: #e2e6e9;
    padding: 20px;
}
#divWeatherMain {
    .temperature {
      font-size: 32px;
      margin-top: 5px;
    }
  
    .minmax,
    .feelslike,
    .humidity {
      font-size: 12px;
    }
  
    .city {
      font-size: 25px;
      margin-top: 10px;
    }
  }