html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  color: #ffffff;
}

.mat-mdc-card {
  background-color: #424242;
  color: #ffffff;
}

.mat-toolbar {
  background-color: #212121;
  color: #ffffff;
}

.mat-mdc-form-field {
  color: #ffffff;
}

.mat-mdc-table {
  background-color: #424242;
  color: #ffffff;
}

.mat-mdc-row:hover {
  background-color: #616161;
}